body {
    background-color: rgb(216, 168, 209);
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: bold;
    color: rgb(246, 234, 129);
}

h2 {
    font-style: italic;
    color: rgb(246, 234, 129);
}

.img1 {
    width: 50%;
    text-align: center;
}

h3 {
    font-style: italic;
    color: rgb(246, 234, 129);
}

.lista {
    text-align: left;
    font-style: italic;
    text-decoration: overline;
    color: rgb(246, 234, 129);
}